{{#each saved}}
<div class='row'>
    <div id="{{this.id}}">
    <h3>
    <a href="{{this.link}}" target='_blank'>{{this.heading}}</a>
    </h3>
    <summary>{{this.summary}}</summary>
     <form action="/save/{{this._id}}" method="POST">
    <button type="submit" class="status btn btn-primary" value="{{this.status}}">Remove Article</button>
</form>
</div>
</div>

{{/each}}